################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SoftRender/v15
/SoftRender/x64/Debug
/Debug
/SoftRender/Debug
/x64/Debug
/SoftRender/Release
